@import "~bootstrap/scss/bootstrap";

p,
label {
  font-weight: bold;
}

iframe,
input {
  border: 1px solid black;
}

.en__component--row--2 {
  padding: 25px;
  background-color: #efefef;
}

.en__component--copyblock {
  width: 100%;
  margin: 0 auto;
}

.en__component--column--1 {
  width: auto;
  max-width: 800px;
}

.en__component--column--2 {
  width: auto;
}

.url-input {
  width: 90%;
  margin-top: 15px;
}

.merge-tag-info {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  align-items: center;
  column-gap: 10px;
  width: 90%;
}

.merge-tag-data {
  width: 100%;
}

.merge-tag-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.add-tag {
  margin-top: 15px;
  margin-bottom: 25px;
}

.generated-url {
  font-size: 20px;
  font-weight: bold;
  width: 90%;
}

.iframe-choices {
  margin-bottom: 15px;

  [for="without-tags"] {
    margin-left: 15px;
  }
}

.merge-tag-url {
  height: calc(101vh - 100px);
}

.open-url {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.open-url:hover {
  color: white;
}
